---
import MainLayout from '../layouts/Layout.astro';
---

<MainLayout>
    <section class="w-full px-6 py-12">
        <h1 class="text-4xl font-semibold text-center text-gray-900 dark:text-white">Sobre Mí</h1>
        <p class="mt-4 text-lg text-gray-700 dark:text-gray-300 text-center">
            ¡Hola! Soy desarrollador Full Stack con experiencia en tecnologías como Java (Spring Boot), Go y Python, 
            también con conocimiento en HTML, Javascript, Node.js, Mongo, React, apasionado por el aprendizaje continuo 
            y la creación de soluciones eficientes y escalables. He trabajado en el desarrollo de aplicaciones web, APIs 
            seguras, manejo de bases de datos tanto relacionales como no relacionales, y optimización de rendimiento en sistemas complejos.
        </p>
        <p class="mt-4 text-lg text-gray-700 dark:text-gray-300 text-center">
            Domino herramientas clave como Docker, Postman, MySQL Workbench y bibliotecas de machine learning como Pandas 
            y Scikit-learn. También tengo conocimientos sólidos en Amazon Web Services (AWS), abarcando diseño de arquitecturas, 
            gestión de servicios en la nube y planes de migración.
        </p>
        <p class="mt-4 text-lg text-gray-700 dark:text-gray-300 text-center">
            En el área de testing, he aplicado técnicas como pruebas funcionales, pruebas de regresión y pruebas de integración, 
            garantizando la calidad de los productos a través de enfoques manuales y sistemáticos. Además, colaboro eficazmente 
            con equipos multidisciplinarios para validar funcionalidades, identificar errores y asegurar entregables de alta calidad.
        </p>
        <p class="mt-4 text-lg text-gray-700 dark:text-gray-300 text-center">
            Estoy entusiasmado por aportar mis habilidades técnicas y mi enfoque proactivo al desarrollo y testing, contribuyendo 
            al éxito e innovación de su organización.
        </p>

        <!-- Tecnologías que utilizo -->
        <h2 class="text-3xl font-semibold mt-12 text-center text-gray-900 dark:text-white">Tecnologías y Herramientas</h2>
        
        <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            
            <!-- Lenguajes de Programación -->
            <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg text-center">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Lenguajes de Programación</h3>
                <ul class="mt-4 space-y-2">
                    <li class="inline-block px-4 py-2 text-sm text-yellow-600 bg-yellow-100 rounded-full">Java</li>
                    <li class="inline-block px-4 py-2 text-sm text-yellow-600 bg-yellow-100 rounded-full">Go</li>
                    <li class="inline-block px-4 py-2 text-sm text-yellow-600 bg-yellow-100 rounded-full">Python</li>
                    <li class="inline-block px-4 py-2 text-sm text-yellow-600 bg-yellow-100 rounded-full">JavaScript</li>
                    <li class="inline-block px-4 py-2 text-sm text-yellow-600 bg-yellow-100 rounded-full">ABAP</li>
                </ul>
            </div>

            <!-- Frameworks y Librerías -->
            <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg text-center">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Frameworks y Librerías</h3>
                <ul class="mt-4 space-y-2">
                    <li class="inline-block px-4 py-2 text-sm text-blue-600 bg-blue-100 rounded-full">React</li>
                    <li class="inline-block px-4 py-2 text-sm text-blue-600 bg-blue-100 rounded-full">Node.js</li>
                    <li class="inline-block px-4 py-2 text-sm text-blue-600 bg-blue-100 rounded-full">Vue.js</li>
                    <li class="inline-block px-4 py-2 text-sm text-blue-600 bg-blue-100 rounded-full">Spring Boot</li>
                    <li class="inline-block px-4 py-2 text-sm text-blue-600 bg-blue-100 rounded-full">Express.js</li>
                </ul>
            </div>

            <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg text-center">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Bases de Datos</h3>
                <ul class="mt-4 space-y-2">
                    <li class="inline-block px-4 py-2 text-sm text-green-600 bg-green-100 rounded-full">MongoDB</li>
                    <li class="inline-block px-4 py-2 text-sm text-green-600 bg-green-100 rounded-full">MySQL</li>
                    <li class="inline-block px-4 py-2 text-sm text-green-600 bg-green-100 rounded-full">DynamoDB</li>
                </ul>
            </div>

            <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg text-center">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Herramientas y Otros</h3>
                <ul class="mt-4 space-y-2">
                    <li class="inline-block px-4 py-2 text-sm text-gray-600 bg-gray-100 rounded-full">Postman</li>
                    <li class="inline-block px-4 py-2 text-sm text-gray-600 bg-gray-100 rounded-full">Pandas</li>
                    <li class="inline-block px-4 py-2 text-sm text-gray-600 bg-gray-100 rounded-full">Scikit-learn</li>
                    <li class="inline-block px-4 py-2 text-sm text-gray-600 bg-gray-100 rounded-full">AWS</li>
                    <li class="inline-block px-4 py-2 text-sm text-gray-600 bg-gray-100 rounded-full">Docker</li>
                    <li class="inline-block px-4 py-2 text-sm text-gray-600 bg-gray-100 rounded-full">Jira</li>
                    <li class="inline-block px-4 py-2 text-sm text-gray-600 bg-gray-100 rounded-full">Azure DevOps</li>
                </ul>
            </div>
        </div>
    </section>
</MainLayout>
