---
import MainLayout from '../layouts/Layout.astro';
---

<MainLayout>
    <h1>Sobre Mí</h1>
    <p>
    ¡Hola! Soy desarrollador Full Stack con experiencia en tecnologías como Java (Spring Boot), Go y Python, 
    también con conocimiento en HTML, Javascript, Node.js, Mongo, React, apasionado por el aprendizaje continuo 
    y la creación de soluciones eficientes y escalables. He trabajado en el desarrollo de aplicaciones web, APIs 
    seguras, manejo de bases de datos tanto relacionales como no relacionales, y optimización de rendimiento en sistemas complejos.
    </p>
    <p>
    Domino herramientas clave como Docker, Postman, MySQL Workbench y bibliotecas de machine learning como Pandas 
    y Scikit-learn. También tengo conocimientos sólidos en Amazon Web Services (AWS), abarcando diseño de arquitecturas, 
    gestión de servicios en la nube y planes de migración.
    </p>
    <p>
    En el área de testing, he aplicado técnicas como pruebas funcionales, pruebas de regresión y pruebas de integración, 
    garantizando la calidad de los productos a través de enfoques manuales y sistemáticos. Además, colaboro eficazmente 
    con equipos multidisciplinarios para validar funcionalidades, identificar errores y asegurar entregables de alta calidad.
    </p>
    <p>
    Estoy entusiasmado por aportar mis habilidades técnicas y mi enfoque proactivo al desarrollo y testing, contribuyendo 
    al éxito e innovación de su organización.
    </p>

    <h2>Tecnologías que utilizo</h2>
    <ul>
    <li>Java</li>
    <l
    <li>Go</li>
    <li>Python</li>
    <li>HTML</li>
    <li>JavaScript</li>
    <li>Node.js</li>
    <li>MongoDB</li>
    <li>React</li>
    <li>Docker</li>
    <li>Postman</li>
    <li>MySQL Workbench</li>
    <li>Pandas</li>
    <li>Scikit-learn</li>
    <li>AWS (Amazon Web Services)</li>
    </ul>
</MainLayout>
