---
import axios from 'axios';
import Layout from '../layouts/Layout.astro';
import Social from '../icons/Social.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import Linkedin from "../icons/Linkedin.astro";
import WhatsApp from "../icons/WhatsApp.astro";
import Gmail from "../icons/Gmail.astro";

const API_URL = import.meta.env.PUBLIC_API_URL || "https://portfolio-backend-hg2q.onrender.com";

let projectsData = [];
try {
    const projectsResponse = await axios.get(`${API_URL}/api/projects`);
    projectsData = projectsResponse.data;
} catch (error) {
    console.error('Error al consumir la API:', error);
}

---

<Layout title="Scheto Tomas - Portfolio">
    <main class="flex flex-col min-h-screen">
        <section class="w-full lg:w-[740px] mx-auto py-20 flex flex-col items-center">
            <div class="flex items-center mb-10">
                <img 
                    class="rounded-full w-32 h-32 mr-8" 
                    src=".../"
                    alt="Foto de Tomás Scheto" 
                />
                <div>
                    <h1 class="text-white text-5xl font-bold">Hola! Soy Tomas Scheto.</h1>
                    <h2 class="text-2xl mt-4">
                        <span>Soy Desarrollador Web Full Stack y Tester QA.</span>
                        <span class="block mt-2">Apasionado por el backend!</span>
                        <span class="text-blue-200/90 block mt-2">Córdoba, Argentina</span>
                    </h2>
                </div>
            </div>
            
            <nav class="flex gap-x-2 mt-4">
                <Social href="https://github.com/SchetoT">
                    <GithubIcon class="w-6 h-6" />
                    GitHub
                </Social>
                <Social href="https://www.linkedin.com/in/schetotomas/">
                    <Linkedin class="w-6 h-6" />
                    LinkedIn
                </Social>
                <Social href="https://wa.me/+5493548515282">
                    <WhatsApp class="w-6 h-6" />
                    WhatsApp
                </Social>
                <Social href="mailto:schetot@gmail.com">
                    <Gmail class="w-6 h-6" />
                    Gmail
                </Social>
            </nav>

            <div class="mt-10">
                <a href="https://drive.google.com/file/d/157a7S_jM_-xFiZLKoc0zp-6HX3BDEiZt/view?usp=sharing" download>
                    <button class="bg-gradient-to-r from-blue-400 to-blue-500 text-white font-semibold py-3 px-8 rounded-xl shadow-lg hover:scale-105 transition-transform duration-300">
                        Descargar CV
                    </button>
                </a>
            </div>
        </section>
        


    </main>
</Layout>
