---
import axios from 'axios';
import Layout from '../layouts/Layout.astro';
import Social from '../icons/Social.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import Linkedin from "../icons/Linkedin.astro";
import WhatsApp from "../icons/WhatsApp.astro";
import Gmail from "../icons/Gmail.astro";

let aboutData = {};
let projectsData = [];
try {
  const aboutResponse = await axios.get('http://localhost:4000/api/about');
  aboutData = aboutResponse.data;

  const projectsResponse = await axios.get('http://localhost:3000/api/projects');
  projectsData = projectsResponse.data;
} catch (error) {
  console.error('Error al consumir la API:', error);
}
---

<Layout title="Scheto Tomas - Portfolio">
    <main class="flex flex-col min-h-screen">
        <section class="w-full lg:w-[740px] mx-auto py-20 flex flex-col items-center">
            <!-- Imagen y Texto -->
            <div class="flex items-center mb-10">
                <img 
                    class="rounded-full w-32 h-32 mr-8" 
                    src="/src/assets/images/mi-foto.jpg"
                    alt="Foto de Tom치s Scheto" 
                />
                <div>
                    <h1 class="text-white text-5xl font-bold">Hola! Soy Tomas Scheto.</h1>
                    <h2 class="text-2xl mt-4">
                        <span>Soy Desarrollador Web Full Stack y Tester QA.</span>
                        <span class="block mt-2">Apasionado por el backend!</span>
                        <span class="text-blue-200/90 block mt-2">C칩rdoba, Argentina</span>
                    </h2>
                </div>
            </div>
            
            <!-- Redes Sociales -->
            <nav class="flex gap-x-2 mt-4">
                <Social href="https://github.com/SchetoT">
                    <GithubIcon class="w-6 h-6" />
                    GitHub
                </Social>
                <Social href="https://www.linkedin.com/in/schetotomas/">
                    <Linkedin class="w-6 h-6" />
                    LinkedIn
                </Social>
                <Social href="https://wa.me/+5493548515282">
                    <WhatsApp class="w-6 h-6" />
                    WhatsApp
                </Social>
                <Social href="mailto:schetot@gmail.com">
                    <Gmail class="w-6 h-6" />
                    Gmail
                </Social>
            </nav>

            <!-- Bot칩n de descarga -->
            <div class="mt-10">
                <a href="/ruta/a/tu/curriculum.pdf" download>
                    <button class="bg-gradient-to-r from-blue-400 to-blue-500 text-white font-semibold py-3 px-8 rounded-xl shadow-lg hover:scale-105 transition-transform duration-300">
                        Descargar CV
                    </button>
                </a>
            </div>
        </section>

        <!-- Footer -->
        <footer class="mt-auto py-4 bg-gray-800 text-white text-center">
            <p>&copy; 2025 Scheto - Tom치s. Todos los derechos reservados.</p>
        </footer>
    </main>
</Layout>
