---
import axios from 'axios';
import Layout from '../layouts/Layout.astro';
let aboutData = {};
let projectsData = [];
try {
const aboutResponse = await axios.get('http://localhost:4000/api/about');
aboutData = aboutResponse.data;

const projectsResponse = await axios.get('http://localhost:3000/api/projects');
projectsData = projectsResponse.data;
} catch (error) {
console.error('Error al consumir la API:', error);
}
---

<Layout tittle="Welcome">
    <main>
        <section class="w-full lg:w-[740px] mx-auto py-40">
            <img 
            class="rounded-full w-14 h-14"
            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSCVjkxcJJSPWoAWu1kw7hKX2kOb_Va1fLLWTtWdEoh-TmBA47WxI15xYD4aRqb6UPj5L00OzCwMqzcW_Y6ofaEzAiJRrQPGcfbXvAhvA" 
            alt="scheto foto" 
        />
        <h1 class="text-white text-5xl font-bold flex justify-center flex-row">Hola! Soy Tomas Scheto.</h1>
        <h2 class="text-2xl test-wrap">
            
            <span>Soy Desarrolador Web Full Stack y Tester QA.</span>
            <span>Apasionado por el backend!</span>
            <span class="text-blue-280/90">Córdoba, Argentina</span>
        </h2>
    </section>
    </main>
</Layout>