---
import Layout from "../layouts/Layout.astro";

const StudiesExp = [
{
    date: 'Enero 2025',
    title: 'Diplomatura en Desarrollo Web Full Stack',
    institution: 'Global Academy',
    description: 'Diplomatura en desarrollo web full stack. Me capacité en el área de desarrollo web frontend y backend, utilizando tecnologías como HTML, CSS, JavaScript, Node.js, Express, MongoDB, React, entre otras.'
},
{
    date: 'Enero 2025',
    title: 'AWS',
    institution: 'Coder House',
    description: 'Adquirí conocimientos sobre computación en la nube, incluyendo seguridad, billing y diseño de arquitecturas de servicios. Además, gestioné servicios en la consola de AWS y elaboré planes de migración a la nube.'
},
{
    date: 'Enero 2025',
    title: 'SQL',
    institution: 'Coder House',
    description: 'Adquirí conocimientos sobre bases de datos relacionales y no relacionales, incluyendo diseño de tablas, consultas, funciones y procedimientos almacenados. Implementé consultas SQL avanzadas para generar reportes e informes para la toma de decisiones.'
},
{
    date: 'Diciembre 2024',
    title: 'Diplomatura en Desarrollo Web Full Stack',
    institution: 'Universidad Tecnológica Nacional',
    description: 'Aprendí sobre el desarrollo web full stack utilizando tecnologías como HTML, JavaScript, React, MongoDB, NodeJS, Express JS y diseño UI. También adquirí experiencia en proyectos grupales y trabajo en equipo.'
},
{
    date: 'Diciembre 2024',
    title: 'Diplomatura Backend Java con Spring Boot',
    institution: 'Global Academy',
    description: 'Desarrollo de APIs seguras, autenticación, autorización y pruebas unitarias. Adquirí conocimientos sobre Spring Boot, Spring Security, Spring Data JPA, Hibernate, JWT, MySQL, Postman, Docker y Swagger.'
},
{
    date: 'Diciembre 2024',
    title: 'Diplomatura en Python con IA',
    institution: 'Universidad Tecnológica Nacional',
    description: 'Análisis de datos, machine learning (regresión, clasificación, redes neuronales). Adquirí conocimientos sobre Python, Pandas, Numpy, Matplotlib, Scikit-learn, Keras, TensorFlow, Jupyter Notebook y Google Colab.'
},
{
    date: 'Noviembre 2024',
    title: 'Testing',
    institution: 'ProgramOn',
    description: 'Realicé planes de prueba, diseños de casos y reportes de bugs utilizando herramientas como Jira y Azure DevOps. Además, apliqué técnicas de pruebas funcionales, pruebas de regresión y pruebas de integración, garantizando la calidad de los productos a través de enfoques manuales y sistemáticos.'
}
];
---

<Layout>
<h1 class="text-5xl font-bold text-center mb-6">Estudios</h1>

<ol class="relative border-2-2 border-gray-200 dark:border-gray-700 pl-20">
    {StudiesExp.map((study) => (
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
        {study.date}
        </time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{study.title}</h3>
        <p class="mb-1 text-base font-normal text-gray-500 dark:text-gray-400">{study.institution}</p>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">{study.description}</p>
    </li>
    ))}
</ol>
</Layout>
